.rm-person-btn {
  position: absolute;
  right: 0;
  border: none;
  box-shadow: -1 0 0 1px #dc3545;
  opacity: .8;
}

.rm-person-btn:focus {
  box-shadow: -1 0 0 1px #dc3545;
}

.role-card {
  position: relative;
  width: fit-content;
  font-size: small;
}

.rm-role-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: small;
}

.rm-role-btn:hover {
  opacity: 1;
}

.rm-role-btn:focus {
  box-shadow: none;
}